<!-- body, div and html are opened in common/header.ejs -->

    </div>
    
    <% if (title != "Home") { %> 
        <button id="return"><a href="//localhost:3000/">Return to Polls</a></button>
    <% } %>
</body>

</html>
