@font-face {
    font-family:"Outfit";
    src: url(//localhost:3000/static/font/Outfit-VariableFont_wght.ttf) format("truetype");
}

body {
    background-image: url(//localhost:3000/static/images/background.jpg);
}

ul {
    list-style: none;
}

li {
    width: 100%;
}

h1, p {
    font-family: "Outfit" ;
    color: white;
    text-align: center
}

:visited {
    color: inherit;
}

#wrapper {
    display: grid;
    grid-template-columns: 60vw;
    grid-auto-rows: 200px;
    gap: 5px;
    justify-content: center;
    justify-items: center;
}

#logo {
    max-height: 80%;
    max-width: 100%;
}
